@page
@model JPOS.Controller.Pages.AboutUsModel
@{

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Us</title>
        <!-- Add Tailwind CSS -->
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    </head>
    <body class="bg-gray-100;font-family: 'Roboto', Helvetica, Arial, sans-serif; font-weight: 100; font-size: 12px; line-height: 30px; color: #777; background: #efefef; margin: 0;">

        <section class="py-8">
            <div class="container mx-auto">
                <div class="flex flex-col md:flex-row">
                    <div class="w-full md:w-1/2 order-last md:order-first p-4">
                        <div class="bg-white p-6 rounded-lg shadow-md">
                            <div class="mb-6">
                                <span class="text-lg text-gray-600 font-semibold">Về chúng tôi</span>
                                <h2 class="text-2xl font-bold text-gray-800 mt-2">
                                    Được thành lập năm 2024
                                </h2>
                            </div>
                            <div class="text-gray-700">
                                JewelryStore được làm bởi nhóm 8 trong lớp PRN221 phục vụ liên quan các mặt hàng đá quý:
                            </div>
                            <ul class="list-disc pl-5 mt-4 text-gray-700">
                                <li>Đặt hàng có sẵn</li>
                                <li>Custom các mặt hàng theo yêu cầu</li>
                                <li>Thiết kế theo bản vẽ có sẵn</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </body>

}
