@page
@model PrivacyModel
@{
    ViewData["Title"] = "About Us";
}
<div style="padding: 120px 0 70px; position: relative;" class="about-section">
    <div class="container">
        <div class="row">
            <div style="position: relative; margin-bottom: 50px;" class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div style="position: relative; padding-left: 30px;" class="inner-column">
                    <div style="margin-bottom: 45px;" class="sec-title">
                        <span style="position: relative; display: block; font-size: 18px; line-height: 24px; color: #222222; font-weight: 500; margin-bottom: 15px;" class="title">Về chúng tôi</span>
                        <h2 style="position: relative; display: block; font-size: 40px; line-height: 1.28em; color: #222222; font-weight: 600; padding-bottom: 18px;" class="sec-title h2"> <br /> Được thành lập năm 2024</h2>
                    </div>
                    <div style="margin-bottom: 40px; font-size: 16px; line-height: 26px; color: #848484; font-weight: 400;" class="text">
                        JewelryStore được thành lập bởi nhóm 8 trong lớp PRN221 chuyên xử lí các mặt hàng liên quan đến đá quý:
                    </div>
                    <ul style="margin-bottom: 45px;" class="list-style-one">
                        <li style="position: relative; font-size: 16px; line-height: 26px; color: #222222; font-weight: 400; padding-left: 35px;" class="list-style-one li">
                            Đặt hàng có sẵn
                        </li>
                        <li style="position: relative; font-size: 16px; line-height: 26px; color: #222222; font-weight: 400; padding-left: 35px;" class="list-style-one li">
                            Custom các mặt hàng theo yêu cầu
                        </li>
                        <li style="position: relative; font-size: 16px; line-height: 26px; color: #222222; font-weight: 400; padding-left: 35px;" class="list-style-one li">
                            Thiết kế theo bản vẽ có sẵn
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

