@page
@model JPOS.Controller.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
    var isAuthenticated = HttpContext.Session.GetString("UserName");
}
<header>
    @if(isAuthenticated != null){
        <span>Welcome + @isAuthenticated</span>
    }else{
    <a style="padding: 0px 10px 0px 950px" asp-page="/Login">Login</a> <a asp-page="/Register">Register</a>
    }
    
</header>

<body>
    <div class="cont" style="display: flex; justify-content: center;">
        <h2 class="back" style="background-color: rgb(241, 234, 217); flex: 1; text-align: center; font-size: 15px; padding: 10px; margin-top: 0; font-family: 'Roboto', sans-serif;">
            Giao hàng miễn phí cho các đơn hàng trên $ 2000
        </h2>
    </div>
</body>


