@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    <div class="cont" style="display: flex; justify-content: center;">
        <h2 class="back" style="background-color: rgb(241, 234, 217); flex: 1; text-align: center; font-size: 15px; padding: 10px; margin-top: 0; font-family: 'Roboto', sans-serif;">
        Giao hàng miễn phí cho các đơn hàng trên $ 2000</h2>
    </div>

}


